@model IEnumerable<SportsRatings.Models.CategoryModel>

@{
    ViewData["Title"] = "Categories";
}

<div class="container">
    <h1 class="text-secondary display-6">ALL YOUR CATEGORIES</h1>
</div>
<hr />
<br />
<div>
    <a class="btn btn-primary text-white col-2" asp-action="Create">CREATE NEW</a>
    <a class="btn btn-outline-secondary float-end col-2" asp-controller="Home" asp-action="Index">Back to the Main Page</a>
    <a class="btn btn-outline-info float-end me-3 col-2" asp-controller="Sport" asp-action="GetAllSports">VIEW SPORTS</a>
</div>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-3">
                CATEGORIES
            </th>
            <th class="text-center col-4">
                DESCRIPTION
            </th>
            <th class="text-center col-2">
                SPORTS
            </th>
            <th class="text-center col-2">
                ACTIONS
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.Name)</b>
                </td>
                <td class="bg-light">
                    @item.Description
                </td>
                <td>
                    <div>
                        <a class="btn btn-primary text-white mb-1 offset-2 col-8" asp-controller="Sport" asp-action="GetSportsInCategory" asp-route-id="@item.Id">VIEW SPORTS</a><br /> <!--Добавить метод GetSportsInCategory в SportController-->
                        <a class="btn btn-outline-primary offset-2 col-8" asp-controller="Sport" asp-action="Create">ADD SPORT</a>
                    </div>
                </td>
                <td>
                    <a class="btn btn-secondary mb-1 offset-2 col-8" asp-action="Edit" asp-route-id="@item.Id">Edit</a><br />
                    <a class="btn btn-danger offset-2 offset-2 col-8" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>