@model IEnumerable<SportModel>

@{
    ViewData["Title"] = "Sports";
}

<div class="container">
    <h1>LIST OF SPORTS</h1>
    <br />
    <hr />
    <br />
</div>
<div class="pt-3">
    <a class="btn btn-primary text-white col-2" asp-action="Create">ADD NEW</a>
    <a class="btn btn-outline-secondary float-end col-2" asp-controller="Home" asp-action="Index">Back to the Main Page</a>
    <a class="btn btn-outline-info float-end me-3 col-2" asp-controller="Category" asp-action="GetAllCategories">VIEW CATEGORIES</a>
</div>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>CATEGORIES</th>
            <th>TEAMS</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    @if (Model.Count() == 0)
    {
        <tbody>
            <tr>
                <td>NO DATA</td>
                <td>NO DATA</td>
                <td>NO DATA</td>
            </tr>
        </tbody>
    }
    else if (Model.Count() > 0)
    {
        @foreach (var sport in Model)
        {
            <tbody>
                <tr>
                    <td>@sport.Name</td>
                    <td class="bg-light">@sport.Description</td>
                    <td>@sport.Category.Name</td>
                    <td>
                        <a class="btn btn-light" asp-controller="Team" asp-action="GetTeamsInSport" asp-route-id="@sport.Id">TEAMS</a>
                    </td>
                    <td>
                        <a class="btn btn-secondary mb-1 offset-2 col-8" asp-controller="Sport" asp-action="Edit" asp-route-id="@sport.Id">Edit</a>
                        <form method="post" asp-action="DeletePost">
                            <input asp-for="@sport.Id" hidden/>
                            <input type="submit" class="btn btn-danger offset-2 offset-2 col-8" value="Delete" />
                        </form>
                    </td>
                </tr>
            </tbody>
        }
    }
</table>
